body {
    font-family: Roboto;
}


.logo{
    text-decoration: none;
    color: var(--NAVY-BLUE, #2E2F42);
font-family: Raleway;
font-size: 18px;

    
}
.logo span{
    color: var(--IRIS, #4D5AE5);
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 21px; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;

}

.services{
    background-color: #2E2F42;
   
}
.h1{
    font-size: 200px;
}